router ospf {{ host.ospfProcess }}
{% if host.routerId is defined %}
router-id {{ host.routerId }}
{% endif %}
{% for n in host.networks %}
network {{ n.network }} {{ n.wildcard }} area {{ n.area }}
{% endfor %}
