[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
netmiko = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = "==3.12.3"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dnspython = "*"
mongoengine = "*"
django-debug-toolbar = "*"
nornir = "*"
nornir-utils = "*"
nornir-netmiko = "*"
djongo = "*"
drf-nested-routers = "*"
django-filter = "*"
pillow = "*"
pyats = {extras = ["full"], version = "*"}
genie = "*"
nornir-jinja2 = "*"
networkx = {extras = ["default"], version = "*"}

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"
pylint-django = "*"

[requires]
python_version = "3.10"
