[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
netmiko = "*"
requests = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dnspython = "*"
mongoengine = "*"
django-debug-toolbar = "*"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"
pylint-django = "*"

[requires]
python_version = "3.10"
